# === Python bytecode and cache ===
__pycache__


# === Virtual environment ===
medenv
env/
venv/
.venv/

# === Environment variables ===



# === Static and media files ===
staticfiles/


# === VS Code ===
.vscode/

# === Celery beat schedule ===
celerybeat-schedule
celerybeat.pid

# === Log files ===
*.log

# === Coverage and test cache ===
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# === OS and editor files ===
.DS_Store
Thumbs.db
