{% extends 'index.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/create_doctor.css' %}" />
<link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <header>Doctor Registration</header>
    <form method="post" enctype="multipart/form-data" id="doctorForm" novalidate>
        {% csrf_token %}
        <div class="form first">
            <div class="details personal">
                <span class="title">Personal Details</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Full Name <span class="required">*</span></label>
                        <input type="text" placeholder="Enter doctor name" name="name" id="name">
                        <span class="error-message" id="name-error"></span>
                    </div>
                    <div class="input-field">
                        <label>Email <span class="required">*</span></label>
                        <input type="text" placeholder="Enter doctor email" name="email" id="email">
                        <span class="error-message" id="email-error"></span>
                    </div>
                    <div class="input-field">
                        <label>Password <span class="required">*</span></label>
                        <input type="password" placeholder="Enter doctor Password" name="password" id="password">
                        <span class="error-message" id="password-error"></span>
                    </div>
                    <div class="input-field">
                        <label>Specialization <span class="required">*</span></label>
                        <input type="text" placeholder="Enter specialization" name="specialization" id="specialization">
                        <span class="error-message" id="specialization-error"></span>
                    </div>
                    <div class="input-field file-upload">
                        <label for="image">Image <span class="required">*</span></label>
                        <div class="file-wrapper">
                            <input type="file" name="image" id="image">
                            <label for="image" class="file-btn">Choose File</label>
                            <span id="file-name">No file chosen</span>
                        </div>
                        <span class="error-message" id="image-error"></span>
                    </div>
                    <div class="input-field">
                        <label>Hospital <span class="required">*</span></label>
                        <input type="text" placeholder="Enter hospital name" name="hospital" id="hospital">
                        <span class="error-message" id="hospital-error"></span>
                    </div>
                    <div class="input-field">
                        <label>Address <span class="required">*</span></label>
                        <input type="text" placeholder="Enter address" name="address" id="address">
                        <span class="error-message" id="address-error"></span>
                    </div>
                </div>
            </div>
            
            <div class="form-footer">
                <button type="submit" class="submit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
                <a href="{% url 'dashboard' %}" class="back-button">Back</a>
            </div>
        </div>
    </form>
</div>



<script src="{% static 'js/create_doctor.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}