    {% extends 'index.html' %}
    {% load static %}

    {% block head %}
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create_doctor.css' %}" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    {% endblock %}



    {% block content %}
    <div class="container">
        <header>Doctor Detail</header>

        <div class="doctor-content">
            {% if doctor.image %}
            <div class="doctor-image">
                <img src="{{ doctor.image.url }}" alt="{{ doctor.name }}">
            </div>
            {% endif %}
            
            <div class="doctor-info">
                <div class="info-row">
                    <span class="label">Name:</span>
                    <span class="value">{{ doctor.user.name }}</span>
                </div>
                <div class="info-row">
                    <span class="label">Specialization:</span>
                    <span class="value">{{ doctor.specialization }}</span>
                </div>
                <div class="info-row">
                    <span class="label">Hospital:</span>
                    <span class="value">{{ doctor.hospital }}</span>
                </div>
                <div class="info-row">
                    <span class="label">Address:</span>
                    <span class="value">{{ doctor.address }}</span>
                </div>
            </div>
        </div>
                <div class="button-group">
            <a href="{% url 'doctor_dashboard' %}" class="btn-edit">Back</a>
        </div>  
        </div>    
    </div>



    {% endblock %}
