
    {% extends 'index.html' %}
    {% load static %}


    {% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://kit.fontawesome.com/8b2928de81.js" crossorigin="anonymous"></script>

    {% endblock %}

    {% block nav %} 

    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="{% static 'images/logo.png' %}" width="70" height="70" style="object-fit: cover; border-radius: 50%;" alt="">
            </div>
            <span class="logo_name">Medicare</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{% url 'dashboard' %}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="{% url 'list_appointment' %}">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Appointments</span>
                </a></li>
                <li><a href="{% url 'list_doctor' %}">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Doctors</span>
                </a></li>
                <li><a href="{% url 'list_patients' %}">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Patients</span>
                </a></li>

            </ul>
            
            <ul class="logout-mode">
                <li><a href="{% url 'logout' %}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name"> Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <div class="search-box">
                <form method="get">
                    <input type="text" name="q" placeholder="Search here..." value="{{ query }}">
                    <button type="submit" class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>  
                <!--<img src="images/profile.jpg" alt="">-->
                <h3>Welcome, Admin {{ request.user.name }}</h3>
        </div>

    {% endblock %}

    {% block content %}

     <div class="container">
        <div class="header">
            <h1>Doctors</h1>
        </div>

        <div class="doctor-list">
            {% for doctor in page_obj  %}


            <div class="doctor-card">
                <div class="doctor-image">
                    {% if doctor.image %}
                        <img src="{{ doctor.image.url }}" width="40" height="40" style="object-fit: cover; border-radius: 50%;">
                    {% else %}
                        No Image
                    {% endif %}
                </div>
                <div class="doctor-info">
                    <h3>Dr. {{doctor.user.name}} </h3>
                    <p class="specialization">Specialist: {{ doctor.specialization }}</p>
                    <p class="specialization">Hospital: {{ doctor.hospital }}</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="doctor-actions">
                    <a href="{% url 'detail_doctor' doctor.pk %}" class="btn profile">View Profile</a>

                </div>
            </div>
            {% endfor %}
        </div>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?q={{ query }}&page=1" class="first-last">&laquo; First</a>
        <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}" class="first-last">Previous</a>

    {% endif %}

    <span class="page-info">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?q={{ query }}&page={{ page_obj.next_page_number }}" class="first-last">Next</a>
        <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}" class="first-last">Last &raquo;</a>
    {% endif %}
</div>

        <footer class="footer">
        </footer>
    </div>
    {% endblock %}
